<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin travels</title>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
      <!--begin::Header-->
      <nav class="app-header navbar navbar-expand bg-body">
        <!--begin::Container-->
        <div class="container-fluid"><!--begin::Start Navbar Links--></div>
      </nav>

      <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <!--begin::Brand Link-->
          <a href="/travel" class="brand-link">
            <span class="brand-text fw-light">AdminLTE 4</span>
            <!--end::Brand Text-->
          </a>
          <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-item">
                <a href="/post" class="nav-link">
                  <i class="nav-icon bi bi-speedometer"></i>
                  <p>
                    Posts
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/post/new" class="nav-link">
                  <i class="nav-icon bi bi-palette"></i>
                  <p>add post</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/travel" class="nav-link">
                  <i class="nav-icon bi bi-speedometer"></i>
                  <p>
                    Travels
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/travel/new" class="nav-link">
                  <i class="nav-icon bi bi-palette"></i>
                  <p>add travel</p>
                </a>
              </li>
            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
      </aside>

      <main class="app-main">
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <h2 class="text-center">Add Travel</h2>
            </div>
            <div class="row g-4">
              <!--begin::Col-->
              <form id="editTravel" enctype="multipart/form-data">
                <!--begin::Body-->
                <div class="card-body">
                  <% if (errors.length> 0) { %>
                  <div class="alert alert-danger">
                    <ul>
                      <% errors.forEach(function(error) { %>
                      <li><%= error %></li>
                      <% }) %>
                    </ul>
                  </div>
                  <% } %>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Travel Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.name || '' %>"
                      required
                      name="name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Description</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.description || '' %>"
                      required
                      name="description"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Price</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.price || '' %>"
                      required
                      name="price"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >discount</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.price || '' %>"
                      name="discount"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Duration</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.duration || '' %>"
                      required
                      name="duration"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Min Age</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.minAge || '' %>"
                      required
                      name="minAge"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Max Guest</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.maxGuest || '' %>"
                      required
                      name="maxGuest"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Reservation</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.reservations || '' %>"
                      required
                      name="reservations"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Location</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.location || '' %>"
                      required
                      name="location"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Travel Type</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      value="<%= travel.travelType || '' %>"
                      required
                      name="travelType"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <input
                      type="file"
                      class="form-control"
                      id="inputGroupFile02"
                      name="coverImg"
                    />
                    <label class="input-group-text" for="inputGroupFile02"
                      >Upload</label
                    >
                  </div>
                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">
                    Update Travel
                  </button>
                </div>
                <!--end::Footer-->
              </form>
              <!--end::Form-->
              <!--end::Form-->
            </div>
          </div>
        </div>
      </main>
      <footer class="app-footer">
        <div class="float-end d-none d-sm-inline">Anything you want</div>
        <strong>
          Copyright &copy; 2014-2024&nbsp;
          <a href="https://adminlte.io" class="text-decoration-none"
            >AdminLTE.io</a
          >.
        </strong>
        All rights reserved.
      </footer>
    </div>
    <script src="/adminlte/dist/js/adminlte.min.js"></script>

    <script>
      document
        .getElementById("editTravel")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const form = document.getElementById("editTravel");
          const formData = new FormData(form);
          const travelId = "<%= travel._id %>";
          console.log(formData);
          try {
            const response = await fetch(`/travel/${travelId}`, {
              method: "PUT",
              body: formData,
            });
            if (response.ok) {
              alert("Travel has been updated");
              window.location.href = "/travel";
            } else {
              const error = await response.json();
              alert("Failed to update travel ", err.join(", "));
            }
          } catch (error) {
            console.error("Error: ", error);
            alert("Error Occured during updating Travel");
          }
        });
    </script>
  </body>
</html>
